nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo-container img {
    margin-left: 40px;
    margin-top: 20px;
    max-height: 60px; /* Logo boyutu, gerektiği gibi ayarlayın */
  }
  
  nav ul li {
    padding-top: 20px;
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    padding: 15px 30px;
    color: #A12865;
    text-decoration: none;
    text-transform: none;
    font-size: 24px;
    transition: .2s;
    background-color: #9BCB37;
    border-radius: 8px;
  }
  
  nav ul li a:hover{
    color: #9BCB37;
    background-color: #A12865;
  }

  nav ul li button {
    padding: 15px 30px;
    font-size: 24px; /* Butonun font boyutunu ayarlayın */
    background-color: #A12865; /* Butonun arka plan rengini belirleyin */
    color: white; /* Butonun yazı rengini belirleyin */
    border: none; /* Kenarlık kaldırıldı */
    border-radius: 8px; /* Kenar yuvarlaklığı */
    cursor: pointer; /* Fare imlecini buton üzerine getirdiğinde el simgesi */
    transition: .2s; /* Yumuşak renk geçişi efekti */
  }
  
  nav ul li button:hover {
    background-color: #9BCB37; /* Butonun üzerine gelindiğinde arka plan rengi */
    color: #A12865; /* Butonun üzerine gelindiğinde yazı rengi */
  }
  
  .goBackButton{
    color: #9BCB37;
    background-color: #A12865;
  }


  /* Genel mobil stil ayarlamaları */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
  }

  .logo-container img {
    margin: 10px 0; /* Mobil cihazlarda logo boyutunu küçült */
    max-height: 40px; /* Mobil cihazlarda logo boyutunu azalt */
  }

  nav ul {
    width: 100%;
    justify-content: center;
    padding-left: 0; /* Mobil görünümde merkezlenmiş liste öğeleri */
  }

  nav ul li {
    margin: 5px 0; /* Liste öğeleri arası boşluğu azalt */
    padding: 10px 0; /* Daha küçük yukarı ve aşağı padding */
  }

  nav ul li a, nav ul li button {
    padding: 10px 15px; /* Daha küçük yatay padding */
    font-size: 18px; /* Mobil cihazlarda daha küçük font boyutu */
  }
}

/* Daha küçük ekranlar için ek ayarlar */
@media (max-width: 480px) {
  .navbar-container {
    padding: 0 5px;
  }

  .logo-container img {
    margin: 5px 0; /* Daha küçük ekranlarda daha küçük logo */
    max-height: 30px;
  }

  nav ul li a, nav ul li button {
    padding: 8px 12px; /* Daha küçük ekranlarda daha dar padding */
    font-size: 16px; /* Daha küçük ekranlarda daha küçük font boyutu */
  }
}
